.desc {
    background-color: black;
    color: white;
}

.pdesc {
    color: red;
    font-style: italic;
}

.ingr {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}